---
---

@import "{{ site.theme }}";

body {
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

.page-header {
  background: #003973; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e5e5be,
    #003973
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .page-header-logo {
    opacity: 0.85;
    @include large {
      width: 30rem;
    }
    @include medium {
      width: 25rem;
    }
    @include small {
      width: 20rem;
    }
  }
}
